.signup-page {
    background-color: white;
    margin: auto;
}

.signup-title {
    text-align: center;
}

label {
    font-size: 25px;
    display: block;
    margin-left: 10%;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 2% 10% 2%;
    box-sizing: border-box;
  }

  input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 2% 10% 2%;
    box-sizing: border-box;
  }

  .btn-info {
      display: block;
      margin-top: 2%;
      margin-left: 10%;
  }
